.main-container {
  min-height: calc(100vh - 120px); // Altura total menos header y footer
  padding: 0 20px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr auto; // Auto para el aside
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  position: sticky;
    top: 200px; /* Se pegará cuando el scroll llegue a 20px desde arriba */

}

main {
  transition: margin-right 0.3s ease;

  &.aside-visible {
    margin-right: 320px; /* ancho del aside + un pequeño gap */
  }
}

.toggle-btn {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 100;
}
app-aside{
  top: 200px; /* Se pegará cuando el scroll llegue a 20px desde arriba */
  align-self: flex-start; /* Si está en un contenedor flex */
  }

/* app.component.scss */
main.main-content {
  margin-top: 64px;    /* deja espacio para el header */
  margin-bottom: 56px; /* deja espacio para el footer */
  transition: margin-right 0.3s ease;

  &.aside-visible {
    margin-right: 320px; /* 300px aside + 20px gap */
  }
}
