.container {
    max-width: 800px;
    margin: auto;
  }
  
  .card {
    border-radius: 10px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  h4 {
    margin-top: 20px;
  }
  
  .list-group-item {
    font-size: 1.1em;
  }
  