<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">{{ routineData?.title }}</h2>
      <p class="card-text">{{ routineData?.description }}</p>

      <h4>Horarios:</h4>
      <ul>
        @for (time of routineData?.schedule; track time) {
          <li>{{ time }}</li>
        }
      </ul>

      <h4>Entrenadores:</h4>
      <ul>
        @for (trainer of routineData?.trainers; track trainer) {
          <li>{{ trainer }}</li>
        }
      </ul>

      <h4>Paquetes Disponibles:</h4>
      <ul class="list-group">
        @for (pack of routineData?.packages; track pack.name) {
          <li class="list-group-item">
            {{ pack.name }} - <strong>{{ pack.price }}</strong>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
