<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let card of cards">
      <div class="card h-100 shadow-sm border-0">
        <img [src]="card.image" class="card-img-top" alt="{{ card.title }}">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">{{ card.title }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let point of card.points">{{ point }}</li>
          </ul>
          <div class="d-grid gap-2 mt-3">
            <a [routerLink]="['/rutina', card.id]" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
